<body>

    <h2> Best Gaming SoundTracks</h2>

    <div class="button-div">
        <button (click)="isShowing=!isShowing">
            <ng-container *ngIf="!isShowing">Show OSTs</ng-container>
            <!-- this wont show in the console -->
            <ng-container *ngIf="isShowing">Hide OSTs</ng-container>
        </button>
    </div>


    <div class="OST-container">
        <ul *ngIf="isShowing" class="horizontal-list">
            <ng-container *ngFor="let singleost of OSTS ; let i = index">
                <app-s-ost [ost]="singleost"></app-s-ost>
            </ng-container>
        </ul>
    </div>

</body>