.OST {
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
body {
  background-color: rgb(3, 3, 3);
}
img {
  border-radius: 20%;
  padding: 2%;
  cursor: pointer;
}
img:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}
.button-div {
  text-align: center;
}

ul {
  list-style-type: none;
}
.OST-container {
  flex-direction: row;
}

button {
  background-color: #317c50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;

}
.OST-info {
  background-color: #317c50;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  margin: 5px;
}

.OST-info p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.horizontal-list {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.horizontal-list li {
  margin-right: 5%;
}
