<h2> Best Gaming soundTracks</h2>

<!--Here  interpolation comes in handy becasue 
    dynamic bindying always is true ~ 
-->
<!-- event binding   (  )  PROPIRTY BINDNIG  [  ] 
    two way binding is [(ngmodel)]-->

<button (click)="isShowing=!isShowing">


    <ng-container *ngIf="!isShowing">Show OSTs</ng-container>

    <!-- this wont show in the console -->

    <ng-container *ngIf="isShowing">Hide OSTs</ng-container>


</button>


<!--[(ngModel)] is a way to implemnt a 
    funciton without the need to create
its funciton 

<input type="text" [(ngModel)]="OSTname" />

<p>{{OSTname}}</p>
-->


<!--- DIRECTIVES : 

ngIf 

-->
<ul *ngIf="isShowing">
    <ng-container *ngFor="let item of OSTS">
        <li>

            <!----interpolation-->
            <!---Dynamic binding -->
            <!-- pipe : | titlecase , check documination -->
            {{item.name | titlecase}} by {{item.composer| titlecase}}
            <img [src]="item.src" [alt]="item.src" width="200" />
        </li>
    </ng-container>




</ul>
<br>