<li>
    <div class="OST">
        <!----interpolation-->
        <!---Dynamic binding -->
        <!-- pipe : | titlecase , check documination -->
        <div class="OST-info">
            <p> {{ost.name | titlecase}}</p>
            <p>{{ost.composer| titlecase}}</p>
            <p>Length : {{ost.length* 1000| date:'mm:ss'}}hr</p>
        </div>
        <img [src]="ost.src" [alt]="ost.src" width="200" />

        <button *ngIf="!isInQueue" (click)="addToqueue()">Add to Queue</button>
        <button *ngIf="isInQueue" (click)="reomveOST()">Remove from Queue</button>



    </div>
</li>